{% extends 'sma/base.html' %}
{% load static %}
{% block body_content %}
 <style>
        body {
            background-color: lightskyblue;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading"></div>

                </div>
            </div>
        </div>
    </div>

    <h1 style="text-align: center">Congratulations your booking is confirmed !!!!!!!!</h1>


{% endblock body_content %}


