{% extends 'sma/base.html' %}
{% load static %}
{% block body_content %}
 <style>
        body {
            background-color: lightskyblue;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading"></div>
                    <div class="panel-body"><b>Here are the details about Doctors Available</b></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 style="padding-left: 20Px">List of Doctors</h2>
    </div>
    <div>
        <table   class="table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th >Doctor Name</th>
                <th >Speciality</th>
                <th >Doctor Details</th>
                <th >Doctor Experience</th>
                <th >Doctor Facebook</th>

            </tr>
            </thead>

            <tbody>
            {% for doctor in doctor_details %}
                <tr>


                    <td >{{ doctor.name }}</td>
                    <td>{{ doctor.speciality }}</td>
                    <td >{{ doctor.details }}</td>
                    <td>{{ doctor.experience }}</td>
                    <td align="left">{{ doctor.facebook }}</a></td>

                </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>
{% endblock body_content %}